---
layout: page
title: "Vorlesungen im Jahre 2020"
permalink: /2020/
phony: true
excerpt: '' # work around a bug
---

<ul class="double-spaced">
  {% assign lectures = site['2020'] | sort: 'date' %}
  {% for lecture in lectures %}
    {% if lecture.phony != true %}
      <li>
        <strong>{{ lecture.date | date: '%d.%m.%y' }}</strong>:
        {% if lecture.ready %}
          <a href="{{ lecture.url }}">{{ lecture.title }}</a>
        {% elsif lecture.noclass %}
          {{ lecture.title }} [no class]
        {% else %}
          {{ lecture.title }} [coming soon]
        {% endif %}
        {% if lecture.details %}
          <br>
          ({{ lecture.details }})
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

Videoaufzeichnungen der Vorlesungen sind verfügbar auf <a href="https://www.youtube.com/playlist?list=PLyzOVJj3bHQuloKGG59rS43e29ro7I57J">YouTube</a>.

<h2>Vorlesungen aus den vorherigen Jahren</h2>

<p>Du kannst das Skript und Videos von dem Kurs des letzten Jahres <a href="/2019/">hier</a> abrufen. Die Vorlesungskurse jedes Jahres sind vollständig in sich abgeschlossen. Daher empfehlen wir die neueste Version der Kurses (also die Version des Jahres 2020) zu benutzen. Die behandelten Themen variieren leicht, so dass wir die weiterhin die Skripte und Videos der vorherigen Jahre weiterhin zur Verfügung stellen.</p>
